proprietary/system_ext/apex/com.android.vndk.v30.apex
proprietary/system_ext/priv-app/Settings/Settings.apk
proprietary/vendor/camera/mimoji/model2.zip
proprietary/vendor/etc/camera/st_license.lic
proprietary/vendor/etc/camera/cud_model
